@charset "UTF-8";
html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
  line-height: 1.4;
  font-weight: 400;
}

/*1440px. 1170*/
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*HEADER*/
.header {
  padding-top: 4rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  font-size: 1.6rem;
  color: #1a2b5f;
  transition: color 0.2s linear, border 0.2s linear;
}
.header__menu-link:hover {
  color: #ffc87a;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1a2b5f;
}
.logo__text {
  color: #ffc87a;
}

/*BANNER*/
.banner {
  padding-top: 15rem;
  padding-bottom: 15rem;
  max-width: 88rem;
  margin: 0 auto;
  text-align: center;
}
.banner__heading {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.banner__desc {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.banner__buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính. 2 ô button = nhau*/
}
.banner__buttons .btn {
  margin: 0 1rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1a2b5f;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
}
.btn--border {
  border: 1px solid currentColor;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--primary {
  background-color: #ffc87a;
}
.btn--primary.has-shadow {
  box-shadow: 0 10px 35px -5px #ffc87a;
}

/*CATEGORY*/
.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item {
  width: calc(25% - 22.5px);
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.category__item:first-child {
  box-shadow: 0 10px 35px -5px rgba(255, 151, 195, 0.5);
}
.category__item:nth-child(2) {
  box-shadow: 0 10px 35px -5px rgba(255, 112, 109, 0.5);
}
.category__item:nth-last-child(2) {
  box-shadow: 0 10px 35px -5px rgba(133, 152, 255, 0.5);
}
.category__item:last-child {
  box-shadow: 0 10px 35px -5px rgba(255, 200, 122, 0.5);
}
.category__image {
  border-radius: inherit;
  /*Kế thừa bo góc của thằng cha*/
  width: 100% 23rem;
  height: 100% 23rem;
  object-fit: cover;
  margin-bottom: 4rem;
}
.category__name, .category__detail {
  /*Xử lý name 1 dòng*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category__name {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}
.category__detail {
  font-size: 1.4rem;
  color: #c6cad7;
  margin-top: auto;
}
.category__detail i {
  margin-left: 1.5rem;
}

/*FEATURE*/
.feature {
  padding-top: 18rem;
}
.feature__item {
  display: flex;
  align-items: center;
  margin-bottom: 15rem;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}
.feature__image, .feature__info {
  width: 50%;
}
.feature__title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.feature__desc {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 4rem;
  line-height: 1.8;
}
.feature-intro__item {
  font-weight: 600;
  margin-bottom: 2rem;
  text-decoration: underline;
  font-size: 1.8rem;
}
.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 3rem;
}
.feature-intro__item--circle::before {
  content: "";
  position: absolute;
  background-color: #1a2b5f;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 4rem;
  transform: translateY(-50%);
}
.feature-intro__item--circle:nth-child(2)::before {
  background-color: #ffc87a;
}
.feature-intro__item--circle:nth-child(3)::before {
  background-color: #d50404;
}
.feature-intro__item--circle:last-child::before {
  background-color: #0bf00b;
}
.feature-best {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -5rem;
}
.feature-best__item {
  width: calc(50% - 3rem);
  margin-bottom: 5rem;
}
.feature-best__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  color: #ffa400;
  position: relative;
  z-index: 1;
}
.feature-best__icon--green {
  color: #0bf00b;
}
.feature-best__icon--purple {
  color: purple;
}
.feature-best__icon--red {
  color: #d50404;
}
.feature-best__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: currentColor;
  z-index: -1;
  opacity: 0.25;
}
.feature-best__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.feature-best__desc {
  font-weight: 300;
}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-clamp--2 {
  -webkit-line-clamp: 2;
}

/*PARTNER*/
.partner {
  margin-bottom: 19rem;
}
.partner__container {
  max-width: 83rem;
  text-align: center;
}
.partner__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 7rem;
  padding-bottom: 7rem;
  border-bottom: 1px solid currentColor;
}
.partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

/*CONNECT*/
.connect {
  text-align: center;
  margin-bottom: 17rem;
}
.connect__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
.connect__notice {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 6rem;
}
.connect__notice span {
  color: #ffc87a;
}
.connect__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.connect__item {
  width: calc(25% - 22.5px);
}

/*subscribe*/
.subscribe {
  margin-bottom: 5rem;
}
.subscribe__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: 2px solid currentColor;
  padding-bottom: 8rem;
}
.subscribe__title, .subscribe__info {
  width: 50%;
}
.subscribe__title {
  font-size: 2rem;
  font-weight: bold;
  max-width: 43rem;
}
.subscribe__form {
  background-color: #f2f1f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem;
  margin-bottom: 3.5rem;
  border-radius: 5rem;
}
.subscribe__input, .subscribe__button {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: "Poppins";
}
.subscribe__input {
  flex-grow: 1;
  padding-right: 1.5rem;
}
.subscribe__button {
  cursor: pointer;
}
.subscribe__social {
  font-size: 2rem;
}
.subscribe__social--item {
  margin-left: 3rem;
}

/*FOOTER*/
.footer__container {
  padding: 0;
}
.footer__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: 2px solid currentColor;
}
.footer__item {
  width: 25%;
}
.footer__link {
  color: #1a2b5f;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 3rem;
  width: fit-content;
}
.footer__copywriter {
  text-align: center;
  font-size: 1.4rem;
  color: #1a2b5f;
  font-family: "Poppins";
  line-height: 4rem;
  height: 4rem;
}

/*desktop first*/
/*<PC -> tablet, mobile*/
@media (max-width: 1023px) {
  .banner {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .banner__headding {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .banner__desc {
    font-size: 1.6rem;
  }
  .banner__buttons > .btn {
    font-size: 1.4rem;
  }

  .category__item {
    width: calc(50% - 22.5px);
    margin-bottom: 2.5rem;
  }

  .feature {
    padding-top: 10rem;
  }
  .feature__item {
    flex-direction: column;
    margin-bottom: 8rem;
  }
  .feature__item:nth-child(even) {
    flex-direction: column;
  }
  .feature__item:nth-child(even) .feature__info {
    padding: 0;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding: 0;
  }
  .feature__image, .feature__info {
    width: 100%;
  }
  .feature__image img {
    margin: 0 auto 5px;
  }

  .partner {
    margin-bottom: 9rem;
  }
  .partner__title {
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
  .partner__list {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .partner__item {
    width: 50%;
    margin-bottom: 1rem;
  }
  .partner__item img {
    margin: 0 auto;
  }

  .connect {
    margin-bottom: 5rem;
  }
  .connect__list {
    flex-wrap: wrap;
  }
  .connect__item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }
}
/*Mobile*/
@media (max-width: 767px) {
  .header__menu {
    display: none;
  }

  .category__item {
    width: calc(100% - 22.5px);
    margin-bottom: 2.5rem;
  }
  .category__image {
    height: 50rem;
  }
}
@media (max-width: 479px) {
  .banner__headding {
    font-size: 3rem;
  }
  .banner__buttons > .btn {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
